:root {
    --white: #FFFFEB;
    --lightgray: #C2C2D1;
    --darkgray: #43434F;
    --bg: #272736;
}

body {
    margin: 0px;
    font-family: "Lato", sans-serif;
    background-color: var(--bg);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--white);
}